<launch>
    <!--  get images -->
    <node name="pubimage" pkg="semantic_3d_avp" type="pubimage" output="screen">
    </node>

    <!-- load Parameters -->
    <rosparam file="$(find semantic_3d_avp)/config/localization_seq1.yaml" command="load" />
   
    <!-- generate point cloud from RGB image of multi cameras -->
    <node name="pointCloudFromRGB" pkg="semantic_3d_avp" type="pointCloudFromRGB" output="screen">
    </node>

　　 <!--  localization and mapping -->
    <node name="localization" pkg="semantic_3d_avp" type="localization" output="screen">
    </node>

</launch>
