<launch>
    <!-- load Parameters -->
    <rosparam file="$(find avp_slam_plus)/config/configFile.yaml" command="load" />
    <!-- generate point cloud from RGB image of multi cameras -->
    <node name="pub_pointcloud" pkg="avp_slam_plus" type="pub_pointcloud" output="screen">
    </node>

　　 <!--  localization and mapping -->
    <node name="mapping" pkg="avp_slam_plus" type="mapping" output="screen">
    </node>


</launch>