<launch>

    <!-- load Parameters -->
    <rosparam file="$(find avp_slam_plus)/config/configFile.yaml" command="load" />
   
    <!-- generate point cloud from RGB image of multi cameras -->
    <node name="pointCloudFromtxt" pkg="avp_slam_plus" type="pointCloudFromtxt" output="screen">
    </node>

　　 <!--  localization and mapping -->
     <node name="txt_mapping" pkg="avp_slam_plus" type="txt_mapping" output="screen">
    </node>

</launch>